@font-face {
  font-family: "Shrikhand";
  src: url("./fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto";
}

.brand-name {
  font-family: "Shrikhand";
  font-weight: bold;
}

button {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.green-line {
  width: 3.5rem;
  height: 0;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  margin-bottom: 1rem;
}

.heart-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}
.heart-container .far {
  z-index: 10;
  font-size: 1.8rem;
  transition: opacity 800ms;
}
.heart-container .far:hover {
  opacity: 0;
  cursor: pointer;
}
.heart-container .far:hover ~ .fas {
  transform: scale(1);
}
.heart-container .fas {
  position: absolute;
  z-index: 1;
  font-size: 1.8rem;
  transform: scale(0);
  transition: transform 500ms;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  text-align: center;
  padding: 1rem;
}
header a {
  position: absolute;
  left: 2rem;
  top: 1.7rem;
  font-size: 1.2rem;
  color: black;
  margin-right: 1rem;
}
header img {
  width: 60%;
}

#location {
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 3rem;
  text-align: center;
}
#location .city {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #EAEAEA;
  box-shadow: inset 0px 5px 5px -6px #353535;
}
#location .city i {
  margin-right: 1rem;
}
#location .title {
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
}
#location p {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  color: #353535;
  font-size: 1.2rem;
}

#fonctionnement {
  width: 100%;
  padding: 1rem;
}
#fonctionnement .title {
  margin: 2rem 0;
}
#fonctionnement ol {
  list-style: none;
  counter-reset: step;
}
#fonctionnement li {
  width: 90%;
  margin: auto;
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  font-weight: bold;
  counter-increment: step;
  position: relative;
  align-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#fonctionnement li i {
  color: #686868;
  margin-right: 1rem;
  size: 1.5rem;
}
#fonctionnement li:hover {
  background-color: #f2eafb;
}
#fonctionnement li:hover i {
  color: #9356DC;
}
#fonctionnement li:before {
  content: counter(step);
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 0.4rem;
  text-align: center;
  position: absolute;
  left: -0.95rem;
}

#restaurants {
  width: 100%;
  padding: 1rem;
  background-color: #EAEAEA;
}
#restaurants .title {
  margin: 2rem 0;
}
#restaurants a {
  color: black;
  text-decoration: none;
}
#restaurants .card {
  width: 100%;
  margin-bottom: 1.2rem;
  position: relative;
}
#restaurants .card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
#restaurants .card .new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}
#restaurants .card .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#restaurants .card .description h2 {
  margin: inherit;
  margin-bottom: 0.5rem;
}

.restaurant-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.container {
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: #EAEAEA;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  padding-top: 1.5rem;
  margin-top: -4rem;
}
.container ul {
  list-style-type: none;
}
.container button {
  width: 10rem;
  margin: 2rem auto;
}

.restaurant_name {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.restaurant_name h2 {
  font-family: Shrikhand;
  font-size: 2rem;
  margin-right: 1rem;
}
.restaurant_name i {
  align-self: center;
  font-size: 1.5rem;
}

.entrees h2, .plats h2, .desserts h2 {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.button-container {
  text-align: center;
}

.food-element {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  opacity: 0;
  border-radius: 1rem;
  background-color: #ffffff;
  animation: anim-li 2000ms;
  animation-fill-mode: forwards;
  transition: margin-bottom;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.food-element:hover {
  cursor: pointer;
}
.food-element:hover > .check-container {
  margin-right: inherit;
}
.food-element:hover > .check-container > .fas {
  transform: rotate(360deg);
}
.food-element:hover > .food-info {
  width: 70%;
}

.food-element:nth-child(1) {
  animation-delay: 400ms;
}

.food-element:nth-child(2) {
  animation-delay: 800ms;
}

.food-element:nth-child(3) {
  animation-delay: 1200ms;
}

.food-element:nth-child(4) {
  animation-delay: 1600ms;
}

.food-info {
  width: 85%;
  padding: 1rem;
  transition: width 1000ms;
}
.food-info .food-name {
  width: 100%;
  margin-bottom: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.food-info p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  width: 15%;
  height: 100%;
  font-weight: bold;
}

.check-container {
  width: 15%;
  height: 100%;
  margin-right: -150%;
  transition: margin-right 1000ms;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
}
.check-container .fas {
  color: white;
  font-size: 1.5rem;
  transition: transform 400ms ease-in-out 200ms;
}

@keyframes anim-li {
  0% {
    opacity: 0;
    margin-bottom: 1.7rem;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    margin-bottom: 1rem;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 1rem;
}
footer h2 {
  margin-bottom: 1rem;
}
footer a {
  color: white;
}
footer li {
  list-style-type: none;
  margin-bottom: 0.75rem;
}
footer li i {
  width: 1rem;
  margin-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
