.heart-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    .far {
        z-index: 10;
        font-size: 1.8rem;
        transition: opacity 800ms;
        &:hover {
            opacity: 0;
            cursor: pointer;
        }
        &:hover ~ .fas {
            opacity: 1;
            transform: scale(1);
        }
    }
    .fas {
        position: absolute;
        z-index: 1;
        font-size: 1.8rem;
        transform: scale(0);
        opacity: 0;
        transition: transform 500ms;
        background-image: linear-gradient(to top, $colour-secondary, $colour-primary);
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}
