// fonts
@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: "Roboto";
}

.brand-name {
    font-family: "Shrikhand";
    font-weight: bold;
}
